In [1]:
import numpy as np
import pandas as pd

In [2]:
companies_2018 = pd.read_csv('companies/companies20180131.csv', encoding = "ISO-8859-1", low_memory=False)

In [3]:
print(companies_2018.columns)

Index(['company_id', 'company_name', 'familiar_name', 'previous_name',
       'exchange', 'ticker', 'employee_count', 'year_founded',
       'business_status', 'ownership_status', 'financing_status', 'universe',
       'website', 'financing_note', 'full_description', 'total_raised_to_date',
       'primary_contact_first_name', 'primary_contact_last_name',
       'parent_company', 'sister_companies', 'subsidiary_companies',
       'sic_codes', 'morningstar_codes', 'naics_codes', 'cik_code',
       'customers', 'market', 'competition', 'products',
       'performance_as_of_date', 'stock_price', 'average_volume',
       'shares_outstanding', 'previous_close', 'price_percent_change_1_week',
       'price_percent_change_4_weeks', 'beta', 'X52_week_range_low',
       'X52_week_range_hi', 'market_cap_tso', 'eps', 'p_e', 'last_updated'],
      dtype='object')

In [4]:
companies_2018.head()

,company_id,company_name,familiar_name,previous_name,exchange,ticker,employee_count,year_founded,business_status,ownership_status,...,previous_close,price_percent_change_1_week,price_percent_change_4_weeks,beta,X52_week_range_low,X52_week_range_hi,market_cap_tso,eps,p_e,last_updated
0,53495-20,29,29 Cosmetics,NaN,NaN,NaN,5.0,2007.0,Generating Revenue,Privately Held (backing),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/22/2017
1,53874-64,37.5,NaN,TrapTek,NaN,NaN,26.0,2000.0,Generating Revenue,Privately Held (backing),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/22/2017
2,62083-18,52,NaN,NaN,NaN,NaN,7.0,2012.0,Generating Revenue,Privately Held (backing),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/22/2017
3,95778-37,87,NaN,NaN,NaN,NaN,NaN,NaN,Out of Business,Out of Business,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/22/2017
4,61744-96,411,411.ca,NaN,NaN,NaN,86.0,1999.0,Generating Revenue,Acquired/Merged (Operating Subsidiary),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/1/2017

In [5]:
companies_2018_2 = pd.read_csv('companies/companies20180131.csv', encoding = "ISO-8859-1", low_memory=False)
companies_2018_2.head()

,company_id,company_name,familiar_name,previous_name,exchange,ticker,employee_count,year_founded,business_status,ownership_status,...,previous_close,price_percent_change_1_week,price_percent_change_4_weeks,beta,X52_week_range_low,X52_week_range_hi,market_cap_tso,eps,p_e,last_updated
0,53495-20,29,29 Cosmetics,NaN,NaN,NaN,5.0,2007.0,Generating Revenue,Privately Held (backing),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/22/2017
1,53874-64,37.5,NaN,TrapTek,NaN,NaN,26.0,2000.0,Generating Revenue,Privately Held (backing),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/22/2017
2,62083-18,52,NaN,NaN,NaN,NaN,7.0,2012.0,Generating Revenue,Privately Held (backing),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/22/2017
3,95778-37,87,NaN,NaN,NaN,NaN,NaN,NaN,Out of Business,Out of Business,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/22/2017
4,61744-96,411,411.ca,NaN,NaN,NaN,86.0,1999.0,Generating Revenue,Acquired/Merged (Operating Subsidiary),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/1/2017

In [6]:
companies_2018_3 = pd.read_csv('companies/companies20180915.csv', encoding = "ISO-8859-1", low_memory=False)
companies_2018_3.head()

,company_id,company_name,familiar_name,previous_name,exchange,ticker,business_status,ownership_status,financing_status,universe,...,previous_close,price_percent_change_1_week,price_percent_change_4_weeks,beta,X52_week_range_low,X52_week_range_hi,market_cap_tso,eps,p_e,last_updated
0,100001-08,Zana,Zana Project,NaN,NaN,NaN,18,5,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/30/2018
1,100003-15,Premama,NaN,Priwater,NaN,NaN,18,1,1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/5/2018
2,100004-77,World Energy Labs,WEL,NaN,NaN,NaN,17,7,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/11/2018
3,100005-67,BCV,NaN,NaN,NaN,NaN,18,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/11/2018
4,100005-85,G2See,NaN,NaN,NaN,NaN,12,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/11/2018

In [7]:
companies_2019 = pd.read_csv('companies/companies20190305.csv', encoding = "ISO-8859-1", low_memory=False)
companies_2019.head()

,company_id|company_name|familiar_name|previous_name|exchange|ticker|business_status|ownership_status|financing_status|universe|employee_count|year_founded|website|financing_note|full_description|total_raised_to_date|primary_contact_first_name|primary_contact_last_name|parent_company|sister_companies|subsidiary_companies|sic_codes|morningstar_codes|naics_codes|cik_code|customers|market|competition|products|performance_as_of_date|stock_price|average_volume|shares_outstanding|previous_close|price_percent_change_1_week|price_percent_change_4_weeks|beta|52_week_range_low|52_week_range_hi|market_cap_tso|eps|p_e|last_updated,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191
0,100001-08|Zana|Zana Project||||18|5|4|2|14|201...,2016. The company is no longer actively track...,experts and peer-lead coaching,with the goal of helping entrepreneurs run a ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003-15|Premama||Priwater|||18|1|1|-1|5|2011...,758 of convertible debt financing from undiscl...,2019. Previously,the company raised $3.25 million of Series B ...,Cherrystone Angel Group,Boston Harbor Angels,and Webb Investment Network and Hub Angels In...,2017.|Provider of a prenatal vitamin drink cr...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004-77|World Energy Labs|WEL||||17|7|4|2||1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100005-67|BCV|||||18|1|3|2|270|2009|www.bcvsoc...,methodologies and tools,monitor the social space 24/7,assess channel growth and engagement and prov...,enabling clients to monitor the social space ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100005-85|G2See|||||12|1|3|2|||www.g2see.com|T...,enabling users to use for security purposes.|...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
companies_2019_2 = pd.read_csv('companies/companies_20190829.csv', encoding = "ISO-8859-1", low_memory=False)
companies_2019_2.head()

,company_id,company_name,familiar_name,previous_name,exchange,ticker,business_status,ownership_status,financing_status,universe,...,previous_close,price_percent_change_1_week,price_percent_change_4_weeks,beta,52_week_range_low,52_week_range_hi,market_cap_tso,eps,p_e,last_updated
0,100001-08,Zana,Zana Project,NaN,NaN,NaN,Generating Revenue,Acquired/Merged,Formerly VC-Backed,Venture Capital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/30/2018
1,100003-15,Premama,NaN,Priwater,NaN,NaN,Generating Revenue,Privately Held (backing),Private Equity-Backed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/01/2019
2,100004-77,World Energy Labs,WEL,NaN,NaN,NaN,Out of Business,Out of Business,Formerly VC-Backed,Venture Capital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/11/2018
3,100005-67,BCV Social,BCV,NaN,NaN,NaN,Generating Revenue,Acquired/Merged (Operating Subsidiary),Formerly VC-Backed,Venture Capital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/19/2019
4,100005-85,G2See,NaN,NaN,NaN,NaN,Startup,Privately Held (backing),Venture Capital-Backed,Venture Capital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/11/2018

In [9]:
companies_2019_3 = pd.read_csv('companies/companies20191114.csv', encoding = "ISO-8859-1", low_memory=False)
companies_2019_3.head()

,company_id,company_name,familiar_name,previous_name,exchange,ticker,business_status,ownership_status,financing_status,universe,...,previous_close,price_percent_change_1_week,price_percent_change_4_weeks,beta,52_week_range_low,52_week_range_hi,market_cap_tso,eps,p_e,last_updated
0,100001-08,Zana,Zana Project,NaN,NaN,NaN,Generating Revenue,Acquired/Merged,Formerly VC-Backed,Venture Capital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/30/2018
1,100003-15,Premama,NaN,Priwater,NaN,NaN,Generating Revenue,Privately Held (backing),Private Equity-Backed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/01/2019
2,100004-77,World Energy Labs,WEL,NaN,NaN,NaN,Out of Business,Out of Business,Formerly VC-Backed,Venture Capital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/11/2018
3,100005-67,BCV Social,BCV,NaN,NaN,NaN,Generating Revenue,Acquired/Merged (Operating Subsidiary),Formerly VC-Backed,Venture Capital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/19/2019
4,100005-85,G2See,NaN,NaN,NaN,NaN,Startup,Privately Held (backing),Venture Capital-Backed,Venture Capital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/11/2018

In [10]:
companies_2020 = pd.read_csv('companies/companies20200713.csv', encoding = "ISO-8859-1", low_memory=False)
companies_2020.head()

,company_id,company_name,familiar_name,previous_name,exchange,ticker,business_status,ownership_status,financing_status,universe,...,previous_close,price_percent_change_1_week,price_percent_change_4_weeks,beta,52_week_range_low,52_week_range_hi,market_cap_tso,eps,p_e,last_updated
0,100001-08,Zana,Zana Project,NaN,NaN,NaN,18,5,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/30/2018
1,100003-15,Premama,NaN,Priwater,NaN,NaN,18,1,3,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/30/2019
2,100004-77,World Energy Labs,WEL,NaN,NaN,NaN,17,7,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/11/2018
3,100005-67,BCV Social,BCV,NaN,NaN,NaN,18,6,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/31/2020
4,100005-85,G2See,NaN,NaN,NaN,NaN,12,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/20/2020

In [11]:
#companies_2018_2_merge=companies_2018_2[companies_2018_2['company_id'].isin(companies_2018['company_id'])]
#companies_2018_2_merge=companies_2018_2_merge.reset_index(drop=True)
#companies_2018_2_merge.head()

In [12]:
all_companies=companies_2018.merge(companies_2018_2.drop_duplicates('company_id',keep='first')[['company_id']],how="outer")
all_companies.shape

(74160, 43)

In [13]:
all_companies=all_companies.merge(companies_2018_2.drop_duplicates('company_id',keep='first')[['company_id']],how="outer")
all_companies.shape

(74160, 43)

In [14]:
all_companies=all_companies.merge(companies_2018_3.drop_duplicates('company_id',keep='first')[['company_id']],how="outer")
all_companies.shape

(80909, 43)

In [15]:
all_companies=all_companies.merge(companies_2019_2.drop_duplicates('company_id',keep='first')[['company_id']],how="outer")
all_companies.shape

(88768, 43)

In [16]:
all_companies=all_companies.merge(companies_2019_3.drop_duplicates('company_id',keep='first')[['company_id']],how="outer")
all_companies.shape

(91836, 43)

In [17]:
all_companies=all_companies.merge(companies_2020.drop_duplicates('company_id',keep='first')[['company_id']],how="outer")
all_companies.shape

(102419, 43)

In [18]:
all_companies.to_csv('companies/all_companies.csv', index=False)